.game_container{
    width: 1278px;
    height: 572px;
    margin: -8px;
    background-color: #fff;
    display: flex;
}
.Game_Heading{
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 48px;
    color: #4d6a87;
    transform: translate(130px,80px);
}
span{
    margin-left: 50px;
}


