.game_container{
    width: 1278px;
    height: 642px;
    margin: -8px;
    background-color: #252830;
    display: flex;
}
.Game_Heading{
    color: white;
    transform: translate(70px,110px);
}
span{
    margin-left: 50px;
}


