.square{
    width: 176.6px;
    height: 183.3px;
    
    background-color: #fff;
    border: 1px solid #dfdfdf;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 62px;
    text-align: center;
}
#player{
    color: #3989d4;
}
#ai{
    color: #3abdd4;
}
#null{
    color: #fff;
}
.square1{
    width: 106px;
    height: 110px;
    color: #fff;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 36px;
    text-align: center;
}
.square2{
    width: 75.6px;
    height: 79px;
    color: #fff;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    text-align: center;
}