.sub_container{
    width: 900px;
    height: 600px;
    background-color: none;
    border-radius: 10px;
    position: absolute;
    left: 180px;
    top: 40px;
}
.grid_container{
    width: 800px;
    height: 500px;
    background-color: #fff;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
}
.square_container{
    margin-left: 170px;
}
.status{
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: #fff;
    position: absolute;
    left: -110px;
    top: 310px;
}
.reset_btn{
    width: 90px;
    height: 30px;
    color: #fff;
    background-color: #206e94;
    border: 1px solid black;
    border-radius: 2px;
    transform: translate(350px,30px);
}